# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# local demo specific
.changed_files.json
clang_format*.txt
clang_tidy*.txt
clang_tidy_output.yml
clang_format_output.xml
event_payload.json
comments.json
