site_name: C/C++ Linter Action's Docs
site_description: "Developer documentation from sources."
site_url: "https://2bndy5.github.io/cpp-linter-action"
repo_url: "https://github.com/2bndy5/cpp-linter-action"
edit_uri: "blob/master/docs/"
repo_name: "2bndy5/cpp-linter-action"
nav:
  - index.md
  - "Dev Docs":
    - API Reference/python_action.md
    - API Reference/python_action.run.md
    - API Reference/python_action.clang_tidy.md
    - API Reference/python_action.clang_tidy_yml.md
    - API Reference/python_action.clang_format_xml.md

theme:
  name: material
  logo: images/icon_large.png
  features:
    - navigation.top
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: light blue
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: light)"
      scheme: slate
      primary: indigo
      accent: cyan
      toggle:
        icon: material/lightbulb
        name: Switch to light mode

extra_css:
  - stylesheets/extra.css

plugins:
  - search
  - include-markdown
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            # show_if_no_docstring: true
            show_source: true
            heading_level: 2
      watch:
        - python_action

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist
  - toc:
      permalink: true
  - pymdownx.highlight:
      linenums_style: pymdownx-inline
  - pymdownx.inlinehilite
