# Install clang-tools binaries (clang-format, clang-tidy)
# For details please see: https://github.com/cpp-linter/clang-tools-pip
clang-tools==0.13.1

# cpp-linter core Python executable package
# For details please see: https://github.com/cpp-linter/cpp-linter
cpp-linter==1.10.2
