name: "Test action and package"

on:
  push:
    branches: main
    paths-ignore: "docs/**"
  pull_request:
    branches: main
    paths-ignore: "docs/**"
  workflow_dispatch:

jobs:
  add-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_TOKEN }}
      - name: retag latest commit for testing
        run: |
          git config user.name 'github-actions'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git tag --delete latest || true
          git push --delete origin latest || true
          git tag -a latest -m 'Retag latest commit'
          git push origin latest

  call-test-action:
    uses: cpp-linter/test-cpp-linter-action/.github/workflows/cpp-lint-action.yml@master
